<!-- component -->
 @if (!isAdminLoggedIn && !isCustomerLoggedIn) {
<div class="bg-blue-500">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a routerLink="/login" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">RnD System</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <!-- <a href="tel:5541251234" class="text-sm  text-gray-500 dark:text-white hover:underline">(555) 412-1234</a> -->
            <a href="#" class="hover:underline font-bold text-sm  text-blue-600 dark:text-blue-500" routerLink="/login">Login</a>
        </div>
    </div>
  </nav>
</div>
 }
<!-- Admin Navigation bar-->
 @if (isAdminLoggedIn) {
<div class="bg-blue-500">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a routerLink="/login" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">RnD System</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <a href="#" class="hover:underline font-bold text-sm  text-blue-600 dark:text-blue-500" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
            <a href="#" class="hover:underline font-bold text-sm  text-blue-600 dark:text-blue-500" routerLink="/admin/category" routerLinkActive="active">Category</a>
            <a href="#" class="hover:underline font-bold text-sm  text-blue-600 dark:text-blue-500" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
    </div>
  </nav>
</div>
 }

<!-- Customer Navigation bar-->
 @if (isCustomerLoggedIn) {
<div class="bg-blue-500">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a routerLink="/login" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">RnD System</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <!-- <a href="tel:5541251234" class="text-sm  text-gray-500 dark:text-white hover:underline">(555) 412-1234</a> -->
            <a href="#" class="hover:underline font-bold text-sm  text-blue-600 dark:text-blue-500" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
            <a href="#" class="hover:underline font-bold text-sm  text-blue-600 dark:text-blue-500" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
    </div>
  </nav>
</div>
 }

<router-outlet />
